---
- hosts: localhost
  gather_facts: yes

  pre_tasks:
      - name: Install Desktop
        package:
            name: "{{item}}"
            state: present
        loop:
            - "firefox"
            - "evince"
        become: yes

  roles:
      - kurron.aws
      - kurron.docker-host
      - kurron.hashicorp
      - kurron.javascript-developer
      - role: kurron.jvm-developer
      - { role: kurron.operations, operations_loggly_install: false, operations_datadog_install: false }
      - kurron.python-developer
      - { role: kurron.software-developer, developer_atom_install: false, developer_visual_studio_install: false }
      - { role: kurron.sql-developer, sql_datagrip_install: false  }

